body {
  font: 0.6em "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 40px auto auto auto;
    width: 800px;
}

.left {
    float: left;
}

table#gpio-panel {
    margin-left: 40px;
}

table#gpio-panel td {
    width : 40px;
    margin: 0;
    padding: 0;
}

div#switches-wrapper {
    margin-top: 10px;
}

ul#switches {
    font-size: 2em;
    list-style-type: none;
}

ul#switches li {
    clear: both;
    height: 45px;
}

div.onoffswitch {
    position: absolute;
    left: 140px;
}

.pure-button {
    width: 100%;
}

.gpio-pink {
    background: rgb(255, 105, 180);    
}

.gpio-green {
    background: rgb(28, 184, 65);
}

.gpio-red {
    background: rgb(202, 60, 60);
}

.gpio-orange {
background: rgb(223, 117, 20);
}

.gpio-black {
    background: rgb(0,0,0);
    color: #ddd;
}